<!DOCTYPE html>
<html>
  <head>
    <title>Generate Bill Page</title>
    <link rel="stylesheet" type="text/css" href="style4.css">
  </head>
  <body>
    <div class="container">
      <h1>Generate Bill</h1>
      <div class="bill-display">
        <!-- This is where the generated bill will be displayed -->
      </div>
      <button id="generate-bill">Generate Bill</button>
      <a id="download-bill" href="#">Download Bill</a>
    </div>
    <script src="script1.js"></script>
  </body>
</html>
