<!DOCTYPE html>
<html>
  <head>
    <title>Object Scanning Page</title>
    <link rel="stylesheet" type="text/css" href="style3.css">
  </head>
  <body>
    <div class="container">
      <h1>Object Scanning Page</h1>
      <form id="scan-form">
        <label for="object-name">Enter the name of the object:</label>
        <input type="text" id="object-name" name="object-name" required>
        <br>
        <button type="submit" id="start-scan" disabled>Start Scanning</button>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
